<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrolling-nav.css') }}">

</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
    <div class="container">
        <img class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="https://d33wubrfki0l68.cloudfront.net/6a28c2c66e91cfc86f5662590ccc4e1e48d2499b/c12f2/static/vfzg-logo-af652087b3154bfbbe64914ae3532f0b.svg"
             style="width: 250px;height: 50px;" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<header class="bg-danger text-white">
    <div class="container text-center">
        <h2>Welkom op de webpagina van VodafoneZiggo-------------------------------lollollo</h2>
        <p class="lead">Dit is een pagina om audio bestanden te uploaden</p>
    </div>
</header>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>About this page</h2>
                <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled
                    so you can use it as a boilerplate or starting point for you own landing page designs! This template
                    features:</p>
                <ul>
                    <li>Clickable nav links that smooth scroll to page sections</li>
                    <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                    <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the
                        navbar
                    </li>
                    <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="kleur py-3 bg-dark"
        style="  position: absolute !important; bottom: 0 !important;  width: 100% !important;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>
</body>

</html>