{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
    <header class="bg-danger text-white">
        <div class="container text-center">
          <h2>Welkom op de webpagina van VodafoneZiggo</h2>
          <p class="lead">Dit is een pagina om audio bestanden te uploaden</p>
        </div>
    </header>

<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Over deze applicatie</h2>
          <p class="lead">Deze webpagina is bedoelt om te demonstreren hoe Sentistrength en de AI samenwerken. Er wordt een bestand geüpload, daar komt een score uit tussen -5 & 5. Deze wordt vergeleken met de uitkomst van de AI om te bepalen hoe accuraat het percentage is. Project INNO2 VodafoneZiggo.</p>
        </div>
      </div>
    </div>
    </section>
{% endblock %}

{#{% block input %}#}
{#    <div class="custom-file">#}
{#      <input type="file" class="custom-file-input" id="customFileLangHTML">#}
{#      <label class="custom-file-label " for="customFileLangHTML" data-browse="Bestand kiezen">Voeg je document toe</label>#}
{#    </div>#}
{#{% endblock %}#}