{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
    <header class="bg-danger text-white">
        <div class="container text-center">
          <h2>welkom op de webpagina van VodafoneZiggo</h2>
          <p class="lead">Dit is een pagina om audio bestanden te uploaden</p>
        </div>
    </header>
{% endblock %}

{% block text %}
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>About this page</h2>
          <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>
        </div>
      </div>
    </div>
    </section>
{% endblock %}

{#{% block input %}#}
{#    <div class="custom-file">#}
{#      <input type="file" class="custom-file-input" id="customFileLangHTML">#}
{#      <label class="custom-file-label " for="customFileLangHTML" data-browse="Bestand kiezen">Voeg je document toe</label>#}
{#    </div>#}
{#{% endblock %}#}