header {
    padding: 100px 0 30px;
    background: #1c7430;
}

section {
    padding: 150px 0;
}

.navbar {
    background-color: #ffffff !important;
}

.bg-danger {
    background-color: #f48c00 !important;
}

.kleur {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ee3023 !important;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

